.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.center{
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style: none;
  width: 350px;
}
li{
  padding: 8px 4px;
  min-height: 25px;
  border: 1px solid #eee;
}
