@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loadingSpinner {
    width: 25px;
    height: 25px;
    border: 2px solid #777; /* Light grey */
    border-top: 2px solid #ccc; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinnerContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
  }